<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>Stress Surgery Report</title></head>
<body>
<h1>Stress Surgery Report</h1>
<p>Number of cases: {{ n_obs }}</p>
<p>Model used: {{ model }}</p>
</body>
</html>
